#frontpageContainer{
    /* background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739); */
    background: none;
    display: flex;
    justify-content: space-evenly;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.frontpageElement{
    display: flex;
    flex-direction: column;
}

#frontpageContainer a{
    color: white;
    text-decoration: none;
}