#frontpageContainer{
    /* background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739); */
    background: none;
    display: flex;
    justify-content: space-evenly;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.frontpageElement{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;

}

.frontpageElement span{
    color: white;
    transition:color 0.2s ease;
}

.frontpageElement:hover span{
    color: #d73949;
}

#frontpageContainer a{
    color: white;
    text-decoration: none;
}

#frontpageContainer span{
    margin-bottom: 10px;
}