@font-face {
    font-family: 'Santi';
    src: url(./assets/fonts/Acumin-Variable-Concept.ttf);
}

@font-face {
    font-family: 'OSCL';
    src: url(./assets/fonts/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: 'OSCSB';
    src: url(./assets/fonts/Open_Sans_Condensed_SemiBold.ttf);
}

html, body{
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Santi';
}

.portfolioContainer{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

/* header */






/*portfolio*/

.portfolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: none;
    /* background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739); */
    padding-right: 1rem;
    margin: 0;
   /* background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739, #ad2f42, #d73949); */
}

.portfolio a{
    color: white;
    text-decoration: none;
    
}

.portfolio li{
    list-style-type: none;
}

.portfolioEntry{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-color: #d73949;
    padding: 10px;
}

.portfolio p{
    align-self: center;
    color: white;
    font-size: 1.5rem;
    transition: color 0.2s ease;
    font-weight: bold;
}

.gifContainer{
    display: flex;
    justify-content: center;
}

.portfolioEntry img{
    filter: grayscale(100%);
    transition: filter 0.4s;
}

.portfolioEntry:hover img{
    filter: grayscale(0%);
}

.portfolioEntry:hover p{
    color: #d73949;
}

.gifContainer img{
    max-height: 12rem;
    object-fit: contain;
}

.extraInfo{
    font-family: 'OSCSB';
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#extras{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#extras a{
    margin: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

#extras a:hover{
    color: #d73949;
}