@font-face {
    font-family: 'Santi';
    src: url(./assets/fonts/Acumin-Variable-Concept.ttf);
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Santi';
}


/* header */

#root{
    margin: 0;
    padding: 0rem;
    min-height: 100%;
}

.portfolioContainer{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: black;
    color: white;
    margin: 0;
    min-width: 100%;
    box-sizing: border-box;
}

.headerContainer img{
    height: 50px;
    margin: 20px;
    filter: invert(100%);
    cursor: pointer;
}

.informacion{
    display: flex;
    justify-content: space-between;
}

/*portfolio*/

.portfolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739);
    padding-right: 1rem;
    margin: 0;
   /* background-image: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #180a0e, #261217, #36161e, #5c1f2c, #832739, #ad2f42, #d73949); */
}

.portfolio a{
    color: white;
    text-decoration: none;
    
}

.portfolio li{
    list-style-type: none;
}

.portfolioEntry{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.portfolio p{
    align-self: flex-start;
    font-size: 1.5rem;
}

.gifContainer{
    display: flex;
    justify-content: center;
}

.portfolioEntry img{
    filter: grayscale(100%);
    transition: filter 0.4s;
}

.portfolioEntry:hover img{
    filter: grayscale(0%);
}

.gifContainer img{
    max-height: 12rem;
    object-fit: contain;
}

.extraInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}